html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Custom Style*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 16px auto;
    max-width: 1250px;
}

header {
    padding: 32px 0;
    background-color: midnightblue;
}

header h1 {
    font-size: 32px;
    font-weight: 800;
    color: aliceblue;
}

main{
    background-color: aliceblue;
}
.cards {
    max-width: 900px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    gap: 12px 12px;
    margin: 0 auto;
}
.card {
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}
.card h2 {
    font-size: 24px;
    color: #2f4f4f;
    margin: 4px;
    font-weight: 700;
}
.card img{
    width: 80%;
    height: 80px;
    margin: 4px;
}
.card p {
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.active {
    display: none;
}
.active:hover{
    display: inline-block;
}
.btn{
    padding: 2px 4px;
    background-color: cadetblue;
    font-size: 12px;
    font-weight: 500;
}